extends layout

block content
  div(class='ui segment narrow')
    h3(class='ui segment stacked inverted blue block header') #{title}
    form(class='ui form', action='/users/#{user.userName}/', method='post')
      div(class='field')
        label Username
        div(class='ui left icon input')
          input(type='text', name='userName', value='#{user.userName}', placeholder='Username', disabled='disabled')
          i(class='user icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label Email
        div(class='ui left icon input')
          input(type='email', name='userEmail', value='#{user.userEmail}', placeholder='Email', disabled='disabled')
          i(class='mail icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label DeviceID
        div(class='ui left icon input')
          input(type='text', name='deviceId', value='#{user.relativeDeviceIds[0].deviceId}', placeholder='Device ID')
          i(class='mobile icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label Location: Longitude
        div(class='ui left icon input')
          input(type='text', name='longitude', value='#{JSON.parse(user.relativeDeviceIds[0].location).longitude}', placeholder='Safe Location Longitude')
          i(class='mobile icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label Location: Latitude
        div(class='ui left icon input')
          input(type='text', name='latitude', value='#{JSON.parse(user.relativeDeviceIds[0].location).latitude}', placeholder='Safe Location Latitude')
          i(class='mobile icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        label Range(Unit: km)
        div(class='ui left icon input')
          input(type='text', name='range', value='#{user.relativeDeviceIds[0].range}', placeholder='Safe Range')
          i(class='mobile icon')
          div(class='ui corner label')
            i(class='asterisk icon')
      div(class='field')
        input(type='submit', class='ui red submit button', value='Update')
